.info__content--property
  .ranking
    1
  = image_tag "/images/house1.jpg",width:'180px',height:"auto",class:"photo1"
  .soldout
    .soldout__inner
      SOLD            
  .main-content__btn
    %button.main-content__btn--like{id: "like-btn"}
      = icon('fas', 'star')
      .numLike{id: "numLike"}
        9
  .clearfix.tb_line_box
    .dim_icon_1002.price 
      1億8200万円
    .gross
      8.92%
  %p.tb_line
    東京都調布市布田２丁目
  %p.tb_line
    京阪本線 千林駅 徒歩2分
  %strong.tb_realtor 
    あんずHOME株式会社
.info__content--property
  .ranking
    2
  = image_tag "/images/house1.jpg",width:'180px',height:"auto",class:"photo1"
  -# .soldout
  -#   .soldout__inner
  -#     SOLD            
  .main-content__btn
    %button.main-content__btn--like{id: "like-btn"}
      = icon('fas', 'star')
      .numLike{id: "numLike"}
        5
  .clearfix.tb_line_box
    .dim_icon_1002.price 
      800万円
    .gross
      6.32%
  %p.tb_line
    東京都調布市布田２丁目
  %p.tb_line
    京阪本線 千林駅 徒歩2分
  %strong.tb_realtor 
    あんずHOME株式会社

.info__content--property
  .ranking
    3
  = image_tag "/images/house1.jpg",width:'180px',height:"auto",class:"photo1"
  .soldout
    .soldout__inner
      SOLD            
  .main-content__btn
    %button.main-content__btn--likeyes{id: "like-btn"}
      = icon('fas', 'star')
      .numLike{id: "numLike"}
        9
  .clearfix.tb_line_box
    .dim_icon_1002.price 
      8200万円
    .gross
      6.32%
  %p.tb_line
    東京都調布市布田２丁目
  %p.tb_line
    京阪本線 千林駅 徒歩2分
  %strong.tb_realtor 
    あんずHOME株式会社

.info__content--property
  .ranking
    4
  = image_tag "/images/house1.jpg",width:'180px',height:"auto",class:"photo1"
  -# .soldout
  -#   .soldout__inner
  -#     SOLD            
  .main-content__btn
    %button.main-content__btn--like{id: "like-btn"}
      = icon('fas', 'star')
      .numLike{id: "numLike"}
        6
  .clearfix.tb_line_box
    .dim_icon_1002.price 
      4億8200万円
    .gross
      4.42%
  %p.tb_line
    東京都調布市布田２丁目
  %p.tb_line
    京阪本線 千林駅 徒歩2分
  %strong.tb_realtor 
    あんずHOME株式会社