%main.wrapper
  = render "/products/header"

  %section.contents
    .wrap-info
      %section.info
        .info__search
          収益物件を検索
        .info__content
          内容は省略

      %section.info
        .info__search
          注目の不動産
        .info__content
          = render "/products/spotlight"

      %section.info
        .info__search
          閲覧数ランキング
          .info__search--days
            .info__search--days-day
              1日>
            .info__search--days-day
              1週>
            .info__search--days-day
              1ヶ月>
        .info__content
          = render "/products/popular"

      %section.info
        .info__search
          値下げ
        .info__content
          = render "/products/sale"

    .wrap-adv
      %section.adv
        .adv__search
          広告
        .adv__content
          ※アドブロッカー対策として広告画像の下にあえて広告のリンク先を貼っています。
          .adv__content--foto
            = image_tag "/images/dadv4.png",width:'180px',height:"auto",class:"photo1"
            .adv__content--foto-link                        
              =link_to "スゴサチ 投資用中古車マンション 物件見学会 開催中！", "https://www.pressance.co.jp/urban/braight/realta/visittour/?utm_source=rakumachi&utm_medium=banner&utm_campaign=200612&utm_content=top_194x194", class:"linkadv"
          .adv__content--foto
            = image_tag "/images/dadv2.jpg",width:'180px',height:"auto",class:"photo1"
            .adv__content--foto-link                        
              =link_to "あなたのアパート満室にします！満室の窓口", "https://www.pressance.co.jp/urban/braight/realta/visittour/?utm_source=rakumachi&utm_medium=banner&utm_campaign=200612&utm_content=top_194x194", class:"linkadv"
  %footer
    収益物件数 No.1  不動産投資のことなら国内最大の不動産投資サイト「楽待』  © Firstlogic